{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">A digital library</h1>
    <p class="lead">This is a digital library for PDF files. The app has the following features 
      <ul>
        <li>It has functionality for uploading new files</li>
        <li>Option for toggeling files</li>
        <li>Support for multiple users</li>
      </ul>
    </p>
    <hr class="my-4">
    <p>Start by logging in as the admin (adam@example.com:somepassword)</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
{% endblock %}